<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
  <link rel="stylesheet" href="/fit_squad/public/css/style.css">
  <title>Tech Blog</title>
</head>

<body class="min-100-vh">
    <header class="hero">
        <a href="/dashboard">
            <img class="app-title" src="/assets/images/logo.svg" style="max-width:500px;max-height:100px"/>
        </a>
        <nav>
            <ul>
                {{#if logged_in}}
                 <li>
                    <a href="/home">Home</a>
                </li>
                <li>
                    <a href="/dashboard">Dashboard</a>
                </li>
                <li>
                    <a href="/login">Login</a>
                </li>
                <li>
                    <a href="/user/logout">Logout</a>
                </li>
                {{/if}}
            </ul>
        </nav>
    </header>
    <main>

        {{{body}}}

    </main>
  <footer>
      
  </footer>
</body>

</html>
